.total-estudiante-page {
  display: flex;
  height: 100vh;
  width: 100%;
}

.container-page {
  flex: 1;
  display: flex;
  align-items: center;        
  justify-content: center;   
  background-color: white;
  padding: 20px;
  box-sizing: border-box;
}
